body{
    height: 100%;
    background: #95a5a6;
}
.chat-box{
    position: relative;
    right: 10px;
    left: 20px;
    bottom: 0px;
    background: white;
    width: 300px;
    
}
.chat-text{
    position: fixed;
    bottom: 0px;
    height: 45px;
    width: inherit;
}
