header {
    padding: 0.01em 16px;
    text-align: center;
    background-color: ghostwhite;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-cabang {
    text-align: center;
}

table {
    text-align: center;
    width: 100%;
}

td {
    background-color:ghostwhite;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;

}
