header {
    padding: 0.01em 16px;
    text-align: center;
    background-color: ghostwhite;
}
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.list-menu p {
    background-color: ghostwhite;
}

table {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

th {
    background-color: #77cef7;
    
}

tr, td{
    padding: 15px;
    text-align: center;
    border: 2px transparent;
}